body{
background-color: blue;
}
h1{
    text-align:center;
    text-shadow: 2px 2px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align:center;
}
img{
    display: block;
    margin: auto;
}
.btn{
    height: 20px;
    margin: -20px -50px;
    position: relative;
    margin: auto;
    top: 20%;
    left: 50%;
    background-color: brown;
    color: black;
    border-radius: 10px;
}




